body {
	background: rgb(226, 226, 226);
}

/* Card style */
.card, .card-input {
	border-radius: 5px;
}

.card {
	width: auto;
	height: auto;
	display: inline-block;
	background: rgb(54, 62, 77);
}

.card .card-input{
	background: #fff0;
	resize: both;
	color: #fff;	
}
/* === Card style === */